.main-nav {
    display: flex;
    justify-content: space-evenly;
    height: 55px;
    width: 100%;
    background-color: rosybrown;
    /* border: 2px solid darkmagenta; */
    border-radius: 5px;
    padding: 20px;
}

.main-nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
    background-color: rgb(184, 118, 118);
    border: 2px solid darkorchid;
    padding: 20px;
}

.main-nav a:hover {
border: 2px solid darkblue;
color: black;
background-color: white;
}

body {
  font-size: 14pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  background-color: rosybrown;
  line-height: 14pt;
  padding-left: 50pt;
  padding-right: 50pt;
  padding-top: 5pt;
  text-align: center;
}
h1 {
  font: 18pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
    font: 16pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 20pt;
    text-align: center;
  }



.container {
  display: flex;
  /* border: 5px solid #593d87; */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lists {
  list-style: none;
  list-style-position: inside;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* border: 5px solid #593d87; */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  text-align: center;
  margin: 10px 0;
  position: relative;
}

image {
display: flex;
align-items: center;
justify-content: center;
  padding: 3pt;
  float: right;
}

section {
  text-align: center;
}

form {
  width: 400px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

footer {
  font-size: 13pt;
  font-style: italic;
  line-height: 12pt;
  text-align: center;
  padding-top: 30pt;
}

#messageContainer {
    margin-top: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

